.generation-game-container {
  margin: 1em 15em;
}
.gamescore-and-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}
.generation-game-title {
  color: #fff;
  text-align: center;
}
.generation-game-buttons-container {
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 1em;
  border-radius: 6px;
}
.generation-score-container {
  padding: 1em;
  border-radius: 6px;
}
.score-count {
  color: #fff;
  margin: 0.7em;
  font-weight: 600;
  font-size: 2rem;
}
.game-generation-button {
  all: unset;
  border: 1px solid #fff;
  margin: 0.3em;
  text-align: center;
  padding: 1em;
  color: #fff;
  cursor: pointer;
  transition: all 200ms;
  font-weight: 600;
  letter-spacing: 1px;
}
.game-generation-button:active {
  background-color: crimson;
}
.game-generation-button:hover {
  background-color: crimson;
}
.game-choices {
  text-align: center;
}
.game-start-btn {
  all: unset;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  border: 1px solid #fff;
  padding: 0.7em 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 200ms;
  animation: float 3s infinite;
}
@keyframes float {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(20px);
  }
}
.game-start-btn:hover {
  background-color: crimson;
}
.game-random-img {
  width: 80%;
}
.game-random-pokemon {
  display: flex;
  flex-direction: column;
}
.game-random-pokemon > div {
  text-align: center;
}
.game-choices-btn {
  all: unset;
  border: 1px solid #fa7f7f;
  margin: 0.5em;
  padding: 0.5em 0.8em;
  border-radius: 6px;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 200ms;
  font-weight: 600;
  width: 70%;
}

.game-choices-btn:active {
  background-color: crimson;
}
.poke-lifeCount {
  width: 50px;
  margin: 0.5em;
}
.poke-lifeCount.fade-out {
  animation: fadeOutY 1s ease-in-out;
}

@keyframes fadeOutY {
  from {
    transform: translateY(0) rotate(360deg);
    opacity: 1;
  }
  to {
    transform: translateY(50px);
    opacity: 0;
  }
}
.life-container {
  text-align: center;
}
.lb-btn {
  all: unset;
  border: 1px solid #fff;
  padding: 0.7em;
  color: rgb(84, 136, 239);
  font-weight: 600;
  text-align: center;
  transition: color 300ms;
  cursor: pointer;
}
.lb-btn:hover {
  color: #fff;
  background-color: rgb(37, 49, 74);
}
.lb-btn-container {
  text-align: center;
}
