@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@400;500;600;700&family=Patua+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #554e78;
}
.header {
  display: flex;
  align-items: center;
}
.header nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header nav ul {
  display: flex;
  align-items: center;
  gap: 1em;
}
.header nav ul li {
  list-style: none;
}
.header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  transition: color 300ms;
  cursor: pointer;
}
.nav-btn:hover {
  color: #f15252;
}
.pokeball-icon {
  width: 80px;
}
.dropdown,
.dropdown2-mobile {
  position: relative;
  display: flex;
  justify-content: center;
}
.dropdown2-mobile {
  display: none;
}
.dropdown-content,
.dropdown-content2-mobile {
  display: none;
  top: 20px;
  position: absolute;
  background-color: #242424;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a,
.dropdown-content2-mobile a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
/* burger */
.hamburger-menu {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.line {
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 0.4em 0;
  transition: 0.4s ease-in-out;
}

/* Change link color on hover */
.dropdown-content a:hover,
.dropdown-content2-mobile a:hover {
  background-color: #a15091;
}

/* Show the dropdown content when the user clicks on the dropdown button */
.dropdown:hover .dropdown-content,
.dropdown2-mobile:hover .dropdown-content2-mobile {
  display: block;
}

/* pagination */
.pagination-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 0.5em;
}
.next,
.prev {
  cursor: pointer;
}
.next10-pages,
.prev10-pages {
  all: unset;
  cursor: pointer;
  transition: all 300ms;
}
.next10-pages:hover,
.prev10-pages:hover {
  background-color: #c381b5;
}
.next,
.prev {
  padding: 0.3em 0.8em;
  border-radius: 6px;
  border: none;
  outline: none;
  color: #242424;
  font-weight: 600;
}
.next:hover,
.prev:hover {
  opacity: 0.8;
}
.pikachu {
  margin: 0.7em;
  width: 100px;
}

/* aside toggle */
.aside-toggle-arrow {
  display: none;
}
