/* modal starts */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container {
  position: relative;
  background: linear-gradient(
    to bottom right,
    rgba(26, 67, 96, 0.8),
    rgba(64, 85, 124, 0.8),
    rgba(105, 103, 149, 0.8),
    rgba(148, 120, 170, 0.8),
    rgba(192, 137, 185, 0.8),
    rgba(236, 155, 195, 0.8)
  );
  border-radius: 6px;
}
.modal-name {
  text-align: center;
  text-transform: uppercase;
  margin: 10px;
  color: white;
  text-shadow: 2px 2px 4px black;
}
.abilities-container {
  max-width: 500px;
  margin-left: 0.7em;
}
.abilities-container h1 {
  text-shadow: 2px 2px 10px #6b0d6b;
  color: #e9a8e9;
  margin: 0.5em 0;
}
.ability-name,
.effect {
  margin-bottom: 1em;
  color: white;
  text-shadow: 2px 2px 4px black;
}
.modal-content {
  padding: 1em 1.5em;
  display: flex;
  align-items: center;
}

.remove-scroll {
  overflow-y: hidden;
}
.modal-img {
  width: 300px;
}
.close-modal {
  all: unset;
  padding: 0.5em;
  color: #fff;
  opacity: 0.3;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
.modal-type {
  background-color: #565487;
  text-align: center;
  padding: 3px;
  margin: 10px;
  font-style: italic;
  font-weight: 700;
  text-shadow: 2px 2px 10px #6b0d6b;
  color: #e9a8e9;
}

/* modal zoom in and out animation starts*/

.modal-container.zoom-in {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container.zoom-out {
  transform: scale(1);
  animation: unfoldOut 0.8s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

/* modal zoom in and out animation ends*/
