.score-modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.score-modal-content {
  border-radius: 6px;
  background-color: rgb(105, 60, 105);
  text-align: center;
  padding: 1.5em 2.5em;
}
.score-modal-content h1 {
  color: #fff;
}
.score {
  margin: 0.7em;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}
.try-again {
  all: unset;
  padding: 0.5em 0.8em;
  border: 1px solid #fff;
  color: springgreen;
  font-weight: 700;
  transition: all 300ms;
  cursor: pointer;
  background-color: rgb(75, 33, 75);
}
.try-again:active {
  opacity: 0.5;
}
